$color-primary: #EEA823;
$color-secondary: #01182E;

$color-background-primary: #FFFFFF;
$color-background-secondary: #F8F8F8;

$color-font-primary: #01182E;
$color-font-secondary: #777777;
$color-font-invert: #FFFFFF;