// Fonte Principal
$font-primary: 'Poppins', sans-serif;

// Cores da Aplicação
$yellow-color: #EEA822;
$blue-color: #01182E;
$gray-color: #777777;
$light-gray-color: #F8F8F8;
$white-primary-color: #FFFFFF;




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: $font-primary;
    background-color: $white-primary-color;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    
}

button {
    transition: all .3s ease;

    &:hover {
        transform: scale(1.05);
    }
}



// Login Page

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

// Lado esquerdo tela login

.left-section {
    @media screen and (max-width: 767px) {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.form-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    input {
        background: $light-gray-color;
        padding: 1.4em 2em;
        border: none;
        border-radius: 5px;
        margin-top: 15px;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    a {
        text-decoration: none;
        color: $blue-color;
        display: flex;
        align-self: end;
        padding-top: 10px;
    }

    button {
        color: $blue-color;
        background: $yellow-color;
        padding: 1.4em 3em;
        border: none;
        border-radius: 5px;
        width: 50%;
        &:hover {
            cursor: pointer;
        }
    }
}

h6 {
    color: $gray-color;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    padding-top: 5px;
}

.title {
    color: $blue-color;
    font-size: 3.75em;

    b {
        color: $yellow-color;
    }
}

// Lado direito tela login

.right-section {
    img {
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}

// Dashboard

#dashboard {
    width: 100%;
    height: 100vh;
}

.section-banner {
    width: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-color{
    width: 100%;
    height: 5em;
    background-color: #01182E;
}

.nav-container {
    background: $light-gray-color;
    padding: 20px 30px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 55px;
    border-radius: 5px;
    img {
        width: 70px;
    }
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    button {
        border: none;
        background-color: $yellow-color;
        color: $white-primary-color;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }
}

.image-banner {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-image: url('../assets/bg-hero.jpg');

    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
    p {
        color: $white-primary-color;
    }
    h1 {
        color: $white-primary-color;
        font-size: 55px;
    }
}

.section-dashboard {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin-top: 30px;
    

    button {
        border: none;
        background-color: $yellow-color;
        color: $blue-color;
        padding: 10px 45px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 600;
        transition: all .3s ease;

    &:hover {
        transform: scale(1.05);
    }
    }
}

.about-container {
    display: flex;
    margin-top: 30px;
    color: $blue-color;
    background: $white-primary-color;

    @media screen and (max-width: 767px) {
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
}

.cards-about {
    margin: 10px;
    @media screen and (max-width: 767px) {
        display: flex;
    }
}

.card-svg-text {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 189px;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    background: $white-primary-color;
    color: $blue-color;
    transition: all .3s ease;

    p {
        padding-top: 15px;
    }

    &:hover {
        transform: scale(1.05);
    }

    img {
        
        width: 40px;
    }
    @media screen and (max-width: 767px) {
        display: flex;
    }
}

.card-about-image {
    
    img {
        width: 189px;
        height: 162px;
    }
}


.about-texts {

    display: flex;
    flex-direction: column;
    align-items: center;
    background: $light-gray-color;
    padding: 30px;
    h3 {
        color: $gray-color;
    }
    h1 {
        color: $blue-color;
        font-size: 55px;
    }
    p {
        color: $gray-color;
    }

    button {
        border: none;
        background-color: $yellow-color;
        color: $white-primary-color;
        padding: 15px 45px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 600;
        transition: all .3s ease;
        
        width: 40%;
        margin-top: 15px;

    &:hover {
        transform: scale(1.05);
    }
    }
}

.section-portfolio {
    margin-top: 5%;
    text-align: center;

    p {        
        color: $gray-color;
    }

    h1 {
        font-size: 55px;
        color: $blue-color;
    }

    
}

.carousel {
    position: relative;
    overflow: hidden;
  }
  
  .slides {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%;
    box-sizing: border-box;

    img {
        width: 600px;
        height: 80%;

        @media screen and (max-width: 767px) {
            width: 400px;
        }
    }
  }

  .info-slide {
    display: flex;
    text-align: left;
    justify-content: center;

    > div {
        padding:  15px 30px;
        display: flex;
        top: 300px;
        color: $blue-color;
        
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        h5 {
            color: $yellow-color;
            font-size: larger;
        }
    }
    
    
  }
  
  .button-carousel-prev {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translateY(-50%);
    background-color: #eee;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: $yellow-color;
  }

  .button-carousel-next {
    position: absolute;
    top: 40%;
    right: 25%;
    transform: translateY(-50%);
    background-color: #eee;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: $yellow-color;
  }

.section-crud {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: $light-gray-color;
    @media screen and (max-width: 767px) {
        margin-top: 12%;
    }
}

.header-crud {
    margin-top: 5%;
    text-align: center;
    p {
        color: $gray-color;
    }

    h1 {
        color: $blue-color;
        font-size: 55px;
    }
}

.select-tasks-crud {
    margin-top: 3%;
    background: $white-primary-color;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;

    button {
        border: none;
        cursor: pointer;
        background: transparent;
    }
}

.select-type-tasks {
    width: 80%;
    display: flex;
    justify-content: space-evenly;

    div {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
} 

.container-cards-tasks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;

    margin-bottom: 100px;

}

.add-tasks-btn {
    color: $white-primary-color;
    padding: 5px 10px;
    border-radius: 5px;
    background: $yellow-color !important;
}


.section-email {
    display: flex;
    justify-content: space-around;
    color: $white-primary-color;
    background: $blue-color;
    padding: 80px 90px;
    flex-wrap: wrap;
}

.texts-email {
    width: 60%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
        width: 100%;
    }

    button {
        margin-top: 2%;
        width: 20%;
        border-radius: 5px;
        border: none;
        color: $white-primary-color;
        background-color: $yellow-color;
        padding: 10px 25px;

        @media screen and (max-width: 767px) {
            width: 60%;
        }
    }
    p {
        color: $yellow-color;
    }

    h1 {
        font-size: 55px;
    }
}

.form-email {
    display: flex;
    flex-direction: column;
    background-color: $white-primary-color;
    color: $blue-color;
    align-items: center;
    padding: 35px 65px;
    border-radius: 5px;


    @media screen and (max-width: 767px) {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    h1 {
        color: #01182E;
        font-size: 35px;
    }

    input {
        background-color: $light-gray-color;
        border: none;
        padding: 15px 20px;
        width: 90%;
        margin: 15px 0;
    }

    button {
        color: $white-primary-color;
        background-color: $yellow-color;
        border: none;
        padding: 10px 30px;
        border-radius: 5px;
    }
}


footer {
    background: $light-gray-color;
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10%;

    @media screen and (max-width: 767px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        color: $gray-color;
    }
    

    img {
        width: 100px;
    }

    h4 {
        color: $blue-color;
        font-size: 24px;
    }
}

.about-footer {
    
    display: flex;
    flex-direction: column;
    width: 30%;


    @media screen and (max-width: 767px) {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

.links-footer {
   p {
    padding: 15px 0;
   }
}

.type-contact {
    padding: 15px 0;

    display: flex;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    img {
        width: 50px;
        fill: $yellow-color;
        padding-right: 15px;
    }
}

